* {
    margin: 0;
    padding: 0;
   }
   
   header,
   footer {
    width: 100%;
    height: 120px;
    background-color: #33daff;
    color: white;  
   
   } input [type="date"]{
    font-size: larger;
    background-color: transparent;
   }

   h1,
   h2 {
    text-align: center;
    font-family: Helvetica;
   }
   
   img {
    display: block;
    height: 45px;
    width: 45px;
    margin-left: auto;
    margin-right: auto;
   }
   
   ul {   
    padding-left: 40px;
    font-size: 17px;
   }
   
   p {
    font-family:Helvetica;    
    text-align: center;
    font-size: 30px;
   }
   .card {
    width: 80%;
    margin: 40px auto;
    border: 5px solid #E0EAEC;
    box-shadow: 5px 10px #c7c2c2;
    border-radius: 12px;
    
  }
